################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/OOP_LR3/.vs/OOP_LR3/v16
/ConsoleApplication1/.vs/ConsoleApplication1/v16/ipch/AutoPCH/c96366a62f4341bc
/ConsoleApplication1/.vs/ConsoleApplication1/v16
