################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/OOP_LR3/.vs/OOP_LR3/v16
